.text-right{
    text-align: right;
}
.page-wrapper.compact-wrapper .nav-right .nav-menus{
    margin-right: 0 !important;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-wrapper .back-btn{
    margin-top: -30px !important;
}

body.dark-only #sidebar-menu .sidebar-links li .fa{
    color: rgba(255,255,255,0.6);
    font-size: 17px;
    margin-right: 7px;
}
body.dark-only #sidebar-menu .sidebar-links li:hover .fa{
    color: var(--theme-deafult);
    font-size: 17px;
    margin-right: 7px;
}
#sidebar-menu .sidebar-links li .fa{
    color: #2c323f;
    font-size: 17px;
    margin-right: 7px;
}
#sidebar-menu .sidebar-links li:hover .fa{
    color: var(--theme-deafult);
    font-size: 17px;
    margin-right: 7px;
}
.form-group{
    margin-bottom: 10px;
}
/* Maydonlarning zarur bo'lgan holati */
.has-error.required,
.has-error.required:after {
    color: #a94442;
}
.has-error.form-control,
.has-error.form-control:focus {
    border-color: #a94442;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Zarur maydonlarning to'g'ri qiymati kiritilgan holati */
.has-success,
.has-success:after {
    color: #3c763d;
}
.has-success.form-control,
.has-success.form-control:focus {
    border-color: #3c763d;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pagination,.pagination li {
    display: inline-block;
    margin-top:10px;
}
.pagination a, .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
body.dark-only .pagination a, body.dark-only .pagination span {
    color: #fff !important;
}


.pagination li.active a {
    background-color: #7366ff;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #7366ff;
}

.pagination a {
    border-radius: 5px;
}

.pagination a.active {
    border-radius: 5px;
}

.pagination a {
    transition: background-color .3s;
}
#livesearch {
    position: absolute;
    width: 100%;
    max-width:870px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
}
#products .remover{
    margin-top: 30px;
}

/*
body.nonmenu .page-wrapper.compact-wrapper .page-header{
    margin-left: 0px !important;
    width: 100% !important;
}
body.nonmenu .page-wrapper.compact-wrapper .page-body-wrapper .page-body{
    margin-left: 0px !important;
}*/
